body{


}

*{
    margin:0px;
    padding:0px;
}

#contenedor{
    width:1250px;
    position:absolute;
    margin-left:-625px;
    left:50%;
    padding: 5px 1px 0px 1px;
}


ul li:hover > ul{
    display:block;
}

.ok{
    color: #7dd800;
}
.delete{
    color: #f82000;
}

.precioS{
    font-size: 1.5em;
    color: #f82000;
}

.precioM{
    color: #f82000;
    font-size: 1.5em;
}

.precioL{
    color: #f82000;
    font-size: 1.5em;
}